<configuration>
    <appender name="loggIJsonFormatTilKibana" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <decorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMasker class="no.nav.arbeidsgiver.iatjenester.metrikker.config.PersonnummerValueMasker"/>
            </decorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="loggIJsonFormatTilKibana"/>
    </root>

    <springProfile name="dev-gcp">
        <!--    Set log level to DEBUG for more granular logging in dev    -->
        <root level="INFO">
            <appender-ref ref="loggIJsonFormatTilKibana"/>
        </root>
    </springProfile>
</configuration>
