<configuration>
    <appender name="loggIJsonFormatTilKibana" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMasker class="no.nav.arbeidsgiver.iatjenester.metrikker.config.PersonnummerValueMasker"/>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <springProfile name="dev-gcp">
        <root level="DEBUG">
            <appender-ref ref="loggIJsonFormatTilKibana"/>
        </root>
    </springProfile>

    <springProfile name="prod-gcp">
        <root level="INFO">
            <appender-ref ref="loggIJsonFormatTilKibana"/>
        </root>
    </springProfile>
</configuration>
